/*

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

*/




/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-link {
  color: var(--p-color);
  font-size: var(--custom-link-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
}

.custom-link i {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 100%;
  transition: all 0.3s;
  line-height: normal;
}

.custom-link:hover i {
  opacity: 1;
  left: 101%;
}

.lead {
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  CUSTOM BUTTON & ICON              
-----------------------------------------*/
.custom-btn {
  background: var(--dark-color);
  border-radius: 50px;
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  text-transform: uppercase;
  padding: 16.50px 20px;
}

.social-btn {
  background: transparent;
  border: 1px solid var(--grey-color);
  color: var(--dark-color);
  text-transform: none;
}

.social-btn:hover {
  border-color: transparent;
}

.cart-form-select {
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-btn {
  border-radius: 0;
  width: 100%;
  font-size: var(--product-link-font-size);
}

.custom-btn:hover,
.slick-slideshow .custom-btn:hover {
  background: var(--primary-green);
  color: var(--white-color);
}

.custom-icon {
  color: var(--p-color);
  font-size: 24px;
}

.custom-icon {
  display: inline-block;
  vertical-align: middle;
}

.bi-bag.custom-icon {
  font-size: 17px;
}

.featured-icon {
  color: var(--grey-color);
  font-size: 52px;
}

/*---------------------------------------
  DIV SEPARATOR               
-----------------------------------------*/
.div-separator {
  position: relative;
}

.div-separator::before {
  content: "";
  height: 1px;
  background: var(--grey-color);
  display: block;
  width: 100%;
}

.div-separator span {
  position: absolute;
  top: 50%;
  margin-left: -22.5px;
  left: 50%;
  text-align: center;
  background: var(--white-color);
  margin-top: -11px;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  width: 35px;
  text-transform: uppercase;
}

/*---------------------------------------
  FULL IMAGE               
-----------------------------------------*/
.full-image-img {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
  width: 100%;
  bottom: -120px;
  min-width: 650px;
}

@media (min-width: 1600px) {
  .full-image-img {
    bottom: -200px;
  }
}


.container .title {padding-bottom:16px;font-size:2.4rem;line-height:3.6rem;color:var(--primary-blue); font-weight: var(--font-weight-bold);}
/*---------------------------------------
  NAVIGATION               
-----------------------------------------*/
.navbar {
  background: var(--white-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px 0;
  z-index: 2;
  will-change: transform;
  transition: transform 300ms linear;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



h2 span, h4 span {
	color: var(--primary-green);
}

.navbar.headroom--not-top {
  padding: 20px 0;
}

.headroom--pinned {
  transform: translate(0, 0);
}

.headroom--unpinned {
  transform: translate(0, -150%);
}


.navbar .logo a {
  display: block;
}

.navbar .logo a img { width:100%; height: 40px;}


.navbar-toggler-wrap .navbar-box.collapse.show {background-color:var(--primary-grey);opacity: .5; visibility: visible;}


@media (min-width:992px) {
.navbar .navbar-box {display: flex; align-items: center;}
}


.nav-link {
  color: var(--primary-grey);
  font-size: 1.6rem;
  position: relative;
}

/* .navbar .nav-link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-green);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
} */

.navbar .nav-link.active::after, 
.navbar .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar .nav-link.active, .navbar .nav-link:hover {
  color: var(--primary-green);
}

.nav-link:focus, 
.nav-link:hover {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  position: relative;
  overflow: hidden;
  margin-top: 72px;
}


.site-header.section-padding-img {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.header-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
  CUSTOM CIRCLE IMAGES               
-----------------------------------------*/

.custom-circle-image {
  border-radius: 100px;
  width: 55px;
  height: 55px;
}



/*---------------------------------------
  SECTION               
-----------------------------------------*/
section {
  content-visibility: auto;
  contain-intrinsic-size: 700px;
}

.section-padding {
  padding-top: 5.6rem;
  padding-bottom: 6.4rem;
}

.featured {
  background: var(--section-bg-color);
}

/*---------------------------------------
  ABOUT               
-----------------------------------------*/
.about .nav-pills .nav-item {
  width: 100%;
}

.about .nav-pills .nav-link {
  color: var(--grey-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  border-left: 1px solid var(--grey-color);
  border-radius: 0;
  padding-right: 0;
}

.about .nav-pills .nav-link:hover,
.about .nav-pills .nav-link.active, 
.about .nav-pills .show>.nav-link {
  background: transparent;
  border-left-color: var(--primary-green);
  color: var(--primary-green);
}

/*---------------------------------------
  FAQ ACCORDION               
-----------------------------------------*/
.accordion-item {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.accordion-button {
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
}

button:focus:not(:focus-visible) {
  border-color: transparent;
  box-shadow: none;
}

.accordion-body {
  border-top: 1px solid rgba(0,0,0,.125);
}

.accordion-button {
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
  padding-top: 1.5rem;
  padding-right: 0;
  padding-bottom: 1.5rem;
  padding-left: 0;
}

.accordion-body {
  padding: 2rem 0;
}



/*---------------------------------------
  HISTORY               
-----------------------------------------*/


.custom-modal-btn {
  background: var(--grey-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 32px;
  width: 42px;
  height: 42px;
}



.member .modal-body .member-info{font-size:1.6rem;font-weight: var(--font-weight-normal);color: var(--text-color);}
.member .modal-body .member-info strong{margin-right:8px;font-size:2.4rem;font-weight: var(--font-weight-bold);color: var(--dark-grey-color);}
.member .modal-body .member-info .team-position {font-size: 1.4rem;}
.modal-header {
  padding-top: 2.4rem;
}

.modal-header .btn-close {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width:40px;
  height:40px;
  padding: 0;
  opacity: 1;
  background: url(/images/assets/Close_40px.png);
}

#cart-modal .modal-header .btn-close {
  z-index: 2;
  margin: 22px;
}

#cart-modal .modal-header {
  border-bottom: 0;
  padding: 0;
}

#cart-modal .modal-footer {
  padding: 2rem 4rem;
}

/*---------------------------------------
  SKILL - PROGRESS BAR               
-----------------------------------------*/
.skill-thumb strong {
  display: inline-block;
  margin-bottom: 6px;
}

.skill-thumb span {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

.skill-thumb .progress {
  background: var(--white-color);
  box-shadow: none;
  border-radius: 100px;
  height: 1px;
  margin-bottom: 16px;
}

.skill-thumb .progress .progress-bar-primary {
  background: var(--grey-color);
}

/*---------------------------------------
  PRODUCT               
-----------------------------------------*/
.front-product {
  background: var(--section-bg-color);
}

.product-thumb {
  background: var(--white-color);
  position: relative;
  transition: all 0.5s ease-out;
}

.product-image {
  transition: all 0.5s ease-out;
}

.product-thumb:hover .product-image {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.product-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 20px;
}

.product-info {
  padding: 30px 20px;
}

.product-description,
.product-cart-thumb {
  padding: 0 20px;
}

.product-icon {
  color: var(--white-color);
}

.product-title-link {
  color: var(--dark-color);
}

.product-additional-link {
  display: inline-block;
  vertical-align: top;
  font-size: var(--product-link-font-size);
  margin-top: 32px;
  margin-right: 12px;
}

.product-alert {
  background: var(--white-color);
  color: var(--p-color);
  font-size: var(--custom-link-font-size);
  font-weight: var(--font-weight-bold);
  padding: 3px 10px;
}

.product-p {
  font-size: var(--product-link-font-size);
}

.view-all {
  text-transform: uppercase;
  color: var(--p-color);
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--grey-color);
  padding-bottom: 6px;
}

/*---------------------------------------
  CONTACT              
-----------------------------------------*/
.contact-info {
  padding: 40px;
}

.contact-form .form-control {
  border-color: var(--grey-color);
  font-weight: var(--font-weight-normal);
}

.form-floating>label {
  color: var(--grey-color);
  font-weight: var(--font-weight-normal);
}

.contact-form button[type='submit'] {
  background: var(--dark-color);
  border: none;
  border-radius: 100px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 16px;
}

.contact-form button[type='submit']:hover {
  background: var(--primary-green);
}




