.about {
  .about-image {
    width: 100%;
    height: 320px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(174, 202, 77, .15);

  .about-info {
    margin-top: 40px;
    margin-bottom: 64px;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    & h1 {
      margin-bottom: 16px;
      font-size: 2.4rem;
      line-height: 3.6rem;
      font-weight: $font-weight-bold;
      color: $primary-blue;

      @include screen-lg {
        margin-bottom: 32px;
        font-size: 4.8rem;
        line-height: 5.6rem;
      }
    }
  
    & .about-copy {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: $font-weight-normal;
      color: $grey600;
      word-wrap: break-word;
    }
  }
}


/*---------------------------------------
  HISTORY               
-----------------------------------------*/
.history {
  background-color: rgba(149, 184, 220, .15);

  .history-year {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;

    @include screen-sm {
      align-items: center;
      margin-bottom: 32px;
    }

    .year {
      display: block;
      font-size: 2rem;
      color: $grey600;
      margin-bottom: 16px;

      @include screen-sm {
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-right: 24px;
      }


    }
    
    .month-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include screen-sm {
        gap: 16px;
      }

      li {
        display: flex;
        align-items: stretch;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $grey400;

        & >p {
          margin-right: 8px;
          font-size: 1.6rem;
          font-weight: $font-weight-medium;
          color: $grey500;

          @include screen-sm {
            margin-right: 8px;
            font-size: 1.6rem;
            font-weight: $font-weight-medium;
            color: $grey500;
          }
        }
      }
    }
  }
}


/*---------------------------------------
  TEAM MEMBERS               
-----------------------------------------*/
.team .team-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include screen-sm {
    flex-direction: row;
    justify-content: space-between;
  }
}

.team-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 16px 0;

  .team-image {
    position: relative;
    max-width: 164px;
    margin: auto;
  }
}


.team-thumb .team-image img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: none;
}

.team-thumb .team-image.image-plus::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url(../images/assets/plus_40px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.team-thumb .team-info {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 16px;
  color: $grey500;
  font-size: 1.6rem;

  & strong {
    font-size: 2rem;
    color: $grey700;
  }
}


.team-thumb .team-info .team-position {
  margin-top: 4px;
  font-size: 1.4rem;
  color: $grey400;
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
}


/*---------------------------------------
  TEAM MEMBERS MODAL            
-----------------------------------------*/
.member.modal .modal-body {
  display: flex;
  flex-direction: column;

  @include screen-lg {
    flex-direction: row;
  }
}

.member .modal-body .member-info {
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  color: $grey500;
}

.member .modal-body .member-info strong {
  margin-right: 8px;
  font-size: 2.4rem;
  font-weight: $font-weight-bold;
  color: $grey700;
}

.member .modal-body .member-info .team-position {
  font-size: 1.4rem;
  color: $primary-blue;
}


.modal-image {
  width: 100%;
  height: 260px;

  @include screen-lg {
    width: 45%;
    height: 100%;
    margin-right: 24px;
    padding: 0 16px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.member-history {
  margin-top: 16px;

  ul {
    margin-left: 8px;
  }

  ul li {
    padding-left: 4px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $grey500;

    &::marker {
      content: '-';
    }
  }


  .title {
    margin: 16px 0;
    display: inline-block;
    width: 100%;
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    color: $grey600;
    text-align: center;
    background: $grey100;
    border-radius: 1.6rem;
  }
}

.team-info {
  width: 100%;
}


@media (min-width: 576px) {

  .team-thumb {
    width: 50%;
  }

  






}

@media (min-width:768px) {
  .team-thumb {
    width: 20%;
  }

}

@media (min-width:992px) {
  .about.site-header {
    margin: 0 auto;
    display: flex;
    padding-top: 96px;
    max-width: 952px;
  }

  .about .about-image {
    margin-bottom: 72px;
    width: 50%;
    height: auto;
  }

  .about .about-box {
    margin-top: 72px;
    width: 50%;
    height: auto;
  }


  .about .about-info .about-copy {
    font-size: 2rem;
    line-height: 2.9rem;
    word-break: keep-all;
  }

  .team-thumb {
    width: 25%;
  }



}

@media (min-width:1200px) {
  .about.site-header {
    max-width: 1160px;
  }
}