.brand-area{
    position:relative; 
    margin-top:72px;
    
    .brand-image {
        width: 100%; 
        height:480px;
        background-color:#6E4797; 
        background-image:url(https://images.unsplash.com/photo-1515894203077-9cd36032142f?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-blend-mode:soft-light;
        background-position: center; 
        background-size: cover;
    }
    
    .brand-name {
        display: flex; 
        flex-direction: column; 
        height:100%; 
        justify-content: flex-end; 
        padding-bottom: 24px; 
        color:$white-color;
        font-size: 1.8rem;
    }
    
    .brand-name strong {
        font-size: 3.2rem;
    }
}

.brand-box {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        padding: 24px 0;
    }

    .brand-copy {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align:center;
        color: $grey600;
        word-wrap: break-word;
        word-break: keep-all;

        .br {display: none;}
    }
}

.brand-word {
    margin-top:64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .word-info {
        margin-top:1.6rem;
        font-size:1.2rem;
        text-align: center;
        color: $grey400;
    }

}

@media (min-width: 576px) {
    .brand-area .brand-name {padding-bottom: 32px; font-size: 2.4rem;}


}
@media (min-width:768px) {
    .team-thumb{width:20%;}
    .brand-box .brand-copy .br {display: inline-block;}

}
@media (min-width:992px) {
    .brand-area .brand-name strong {font-size: 4rem;}
    .brand-box {margin-top:120px;}
    .brand-box .brand-copy {font-size:2rem; line-height:2.9rem; }
    .brand-word img {width: 70%;}
}
@media (min-width:1200px) {}