
/*---------------------------------------
  CONTACT              
-----------------------------------------*/

.contact-info{
  display:flex; 
  flex-direction:column;
  font-size:1.4rem;
  line-height:2rem;
  color:$grey400;

  .list {
    display:flex; 
    flex-direction:column; 
    margin-top:32px;
    padding-bottom:8px;
  }
  
  .list strong{
    color: $primary-blue;
    padding-bottom: 8px;
  }
  
  .list:first-child {
    margin-top:16px;
  }
}


@media (min-width:992px) {
  .contact-info .list {flex-direction:row;margin-top:0;}
  .contact-info{font-size:1.6rem;color:$grey400}
  .contact-info strong {display:inline-block;padding-right:8px;}

}
.contact-form .form-control {
  border-color: $dark-color;
  font-weight: $font-weight-normal;
}

.form-floating>label {
  color: $dark-color;
  font-weight: $font-weight-normal;
}

.contact-form button[type='submit'] {
  background: $dark-color;
  border: none;
  border-radius: 100px;
  color: $white-color;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  padding: 16px;
}

.contact-form button[type='submit']:hover {
  background: $primary-green;
}
