// /*---------- Font ----------*/
// body, h1, h2, h3, h4, h5, h6, label, input, button, textarea, select, img {font-family:var(--basic-font);}

// /*---------- Reset ----------*/
// html {overflow-y:scroll;min-width:320px}
// body {margin:0;padding:0;font-size:.9375rem;background:#fff;height:100%}
// html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
// h1, h2, h3, h4, h5, h6 {word-break:keep-all}
// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none
}

// legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;opacity:0}
// label, input, button, select, img {vertical-align:middle;font-size:.9375rem}
// input, button {margin:0;padding:0;font-size:.8125rem}
// input[type="submit"] {cursor:pointer}
// button {cursor:pointer}
// [type=button], [type=reset], [type=submit], button {-webkit-appearance:none}
p {
    margin: 0;
    padding: 0;
    word-break: keep-all
}

// hr {display:block}
// pre {overflow-x:scroll;font-size:.9375rem}
// a {color:#000;text-decoration:none;-webkit-transition:all .3s ease;transition:all .3s ease}
// a:hover {text-decoration:none;color:#cc2300}
// a:focus {outline:0}
// a[type=button] {-webkit-appearance:inherit}
// a.btn, .btn {width:inherit;height:inherit}
// *, :after, :before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
// .list-unstyled {list-style:none}
// .word-break-keep-all {word-break:keep-all}
// .overflow-hidden {overflow:hidden !important}
// // .position-relative {position:relative !important}
// // .font-style-normal {font-style:normal !important}
// // .display-block {display:block !important}
// // .display-inline-block {display:inline-block !important}
// // .display-none {display:none !important}